.landing-page{
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
    background-image: url(/assets/bg.jpg),linear-gradient(rgba(26, 25, 25, 0.9),rgba(27, 26, 26, 0.5));
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}

#input{
	margin-top:10%
}

#signUp{
	background-color: #01A756;
	color:#fff
}

.client-logo{
    text-align: center;
}

.form-control{
    outline: none !important;
    box-shadow: none;
    border-color: rgb(196, 192, 192);
}

.signup-container{
    display: flex;
    justify-content:space-between
}

.signup-btn{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}